body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://w0.peakpx.com/wallpaper/172/859/HD-wallpaper-uefa-champions-league-background-estadio-de-futbol-papel-tapiz-deportivo-fondo-de-pantalla-futbol-soccer-pitch.jpg");
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
